<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TestDatabaseProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>search-servlet</servlet-name>
    <servlet-class>request_handlers/SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search-servlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>spot-info-servlet</servlet-name>
    <servlet-class>request_handlers/SpotInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>spot-info-servlet</servlet-name>
    <url-pattern>/spotinfo</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>calc-price-servlet</servlet-name>
    <servlet-class>request_handlers/CalcPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calc-price-servlet</servlet-name>
    <url-pattern>/calcprice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>rent-spot-servlet</servlet-name>
    <servlet-class>request_handlers/RentSpotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rent-spot-servlet</servlet-name>
    <url-pattern>/rentspot</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>park-info-servlet</servlet-name>
    <servlet-class>request_handlers/ParkInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>park-info-servlet</servlet-name>
    <url-pattern>/parkinfo</url-pattern>
  </servlet-mapping>
</web-app>