<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TestDatabaseProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dataFilePaths</param-name>
    <param-value>/home/jam/eclipse-workspace/TestDatabaseProject/data.json</param-value>
  </context-param>
  <context-param>
    <param-name>citiesToLoad</param-name>
    <param-value>Tehran</param-value>
  </context-param>
  <context-param>
    <param-name>timeFormatString</param-name>
    <param-value>HH:mm:ss</param-value>
  </context-param>
  <listener>
    <listener-class>server.Server</listener-class>
  </listener>
  <filter>
    <filter-name>authentication-filter</filter-name>
    <filter-class>request_handlers.filters.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>excludedUrls</param-name>
      <param-value>/signin,/signup,/signout,/sensors.jsp,/index.html,/new_changes.html,/request_info.html,/request_info_sensors.html,/basestation_request_manual.html,/data_format.json</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>authentication-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>prepare-city-filter</filter-name>
    <filter-class>request_handlers.filters.PrepareCityFilter</filter-class>
    <init-param>
      <param-name>excludedUrls</param-name>
      <param-value>/signin,/signup,/signout,/selectcity,/sensors.jsp,/index.html,/new_changes.html,/request_info.html,/request_info_sensors.html,/basestation_request_manual.html,/data_format.json</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>prepare-city-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>search-area-servlet</servlet-name>
    <servlet-class>request_handlers/SearchAreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search-area-servlet</servlet-name>
    <url-pattern>/searcharea</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sector-info-servlet</servlet-name>
    <servlet-class>request_handlers/SectorInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sector-info-servlet</servlet-name>
    <url-pattern>/sectorinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>calc-price-servlet</servlet-name>
    <servlet-class>request_handlers/CalcPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calc-price-servlet</servlet-name>
    <url-pattern>/calcprice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reserve-servlet</servlet-name>
    <servlet-class>request_handlers/ReserveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reserve-servlet</servlet-name>
    <url-pattern>/reserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>park-info-servlet</servlet-name>
    <servlet-class>request_handlers/ParkInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>park-info-servlet</servlet-name>
    <url-pattern>/parkinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signin-servlet</servlet-name>
    <servlet-class>request_handlers/SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin-servlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signout-servlet</servlet-name>
    <servlet-class>request_handlers/SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout-servlet</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signup-servlet</servlet-name>
    <servlet-class>request_handlers/SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup-servlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user-profile-servlet</servlet-name>
    <servlet-class>request_handlers/UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user-profile-servlet</servlet-name>
    <url-pattern>/userprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>select-city-servlet</servlet-name>
    <servlet-class>request_handlers/SelectCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>select-city-servlet</servlet-name>
    <url-pattern>/selectcity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cars-servlet</servlet-name>
    <servlet-class>request_handlers/CarsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cars-servlet</servlet-name>
    <url-pattern>/cars</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wallet-servlet</servlet-name>
    <servlet-class>request_handlers/WalletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wallet-servlet</servlet-name>
    <url-pattern>/wallet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update-sensors-servlet</servlet-name>
    <servlet-class>request_handlers/UpdateSensorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update-sensors-servlet</servlet-name>
    <url-pattern>/updatesensors</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>read-sensor-servlet</servlet-name>
    <servlet-class>request_handlers/ReadSensorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>read-sensor-servlet</servlet-name>
    <url-pattern>/readsensor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transaction-servlet</servlet-name>
    <servlet-class>request_handlers/TransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transaction-servlet</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reservation-db-fetch-servlet</servlet-name>
    <servlet-class>request_handlers/ReservationDBFetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservation-db-fetch-servlet</servlet-name>
    <url-pattern>/reservation_fetch</url-pattern>
  </servlet-mapping>
</web-app>